@charset "utf-8";
/* CSS Document */
/*第一个选课框架*/
#xuanze{
 width: 1120px;
 height: 125px;
 background-color: rgb(245,245,245);
 margin-top:115px;
 margin-left: 85px;
}

#leixing{
	width: 1060px;
	height: 42px;
	margin-right:30px;
	margin-left: 30px;
	position: relative;
	top:20px;
}
/*#leixing .c1*/
#fufei{
	width: 1060px;
	height: 42px;
	margin-right:30px;
	margin-left: 30px;
	position: relative;
	top:40px;
	left: 0px;
}
/*第一个p标签。黑色*/
#d1{
	
    color: #262626;
    font: 14px/1.5 tahoma,arial,"\5b8b\4f53";
    margin-right: 10px;
    height: 19px;
    width: 70px;
    font-size: 14px;
    display: block;
    float: left;
    font-family: "microsoft yahei",simsun,'\5b8b\4f53',sans-serif;
}
#d2{
	width: 28px;
	height: 19px;
	float: left;
	color: #0b99ff;
    text-decoration: none;
    margin-right: 15px;
     font-size: 14px;
     display:block;
     position: relative;
     top: 1px;
}
ul#d3{
width: 905px;
height: 42px;
display: block;
text-align: center;
float: left;
margin-left: 15px;
}
ul#d3 li{
	height: 21px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	list-style-type: none;
}
ul#d3 li a{
	height: 21px;
	font-size: 14px;
	display: block;
	color: rgb(38,38,38);
	text-decoration: none;
	transition-color 4s;
   	transition-property:color;
   	 transition-duration: 0.4s;
   	 transition-timing-function: ease;
   	 transition-delay: 0s;
}
ul#d3 li a:hover{
	text-decoration:underline;
}
/*下部选择导航条，（综合，热门等）*/
#e0{
width: 1280px;
height: 2000px;
}
#e1{
width: 1120px;
height: 47px;
margin-left: 85px;
margin-right: 85px;
margin-top: 40px;
border-bottom: 1px solid rgb(199,199,199);
}
/*字体框架*/
#e2{
	margin:10px;
	display: inline;
	height: 46px;
}
/*最右侧字体*/
#e2-right{
	float: right;
	height: 21px;
	font-size: 15px;
	padding: 0 15px;
	padding-top: 15px;
	display: inline-block;
	color: #9797a7;
	text-decoration: none;
}
/*导航字体编辑*/
#e3{
	height: 21px;
	font-size: 15px;
	padding: 0 15px;
	padding-top: 15px;
	display: inline-block;
	color: #9797a7;
	text-decoration: none;
	transition-color 4s;
   	transition-property:color;
   	 transition-duration: 0.4s;
   	 transition-timing-function: ease;
   	 transition-delay: 0s;
}
/*下部主体盒子主要框架*/
#f1{
	width: 1120px;
	height: 207px;
	margin-left: 85px;
	margin-top: 20px;
	border-bottom: 1px solid rgb(199,199,199);
}
/*图片*/
#f2{
	height: 166px;
	width: 240px;
	border-radius: 5px;
	margin-top: 20px;
	border: none;
	float: left;
}
/*大主题*/
#f3{
	width: 800px;
	height: 100px;
	float: left;
	margin: 30px;
}
#f4{
	font-size: 20px;
   font-weight: 700;
   text-decoration:none;
   color: #404040;
}
#f4:hover{
	color: #0b99ff;
}
/*第二行框架*/
#f5{
	height: 30px;
	width: 800px;
	margin-top: 25px;
	font-size: 14px;
	color: rgb(64,64,64);
}
/*字体*/
#f6{
	position: relative;
	top: 5px;
	margin-left: 10px;
	float: left;
    
}
#f6-2{
	position: relative;
	top: 5px;
	margin-left: 10px;
	float: left;
	margin-right: 50px;
}
/*空盒子*/
#f6-3{
border-left: 1px solid rgb(217,217,217);
margin-left:5px;
margin-right: 50px;
float: left;
height: 16px;
margin-top: 5px;
}
/*图片*/
#f7{
	margin-top: 5px;
	float: left; 
}
/*第三行*/
#f8{
   height: 14px;
   width: 850px;
   position: relative;
   bottom: 12px;
   right: 1px;	
   font-size: 12px;
    line-height: 20px;
    color: #999;
    float: left;
    margin-left: 30px;
}
/*底部*/
#b-main{
	width: 100%;
	height: 135px;
	background-color: rgb(49,49,49);
}
/*底部div*/
#footer{
	width: 1287px;
	height: 74px;
	padding-top: 30px;
	padding-bottom: 30px;
}
/*logo图片*/
#footer .c1{
width: 147px;
height: 50px;
margin-top: 12px;
margin-right: 25px;
position: relative;
left: 85px;
display: inline;
float: left;
}
/*第一行ul标签*/
ul#c2{
width: 600px;
height: 21px;
display: block;
margin-bottom: 5px;
margin-left: 100px;
text-align: center;
float: left;
}
ul#c2 li{
	height: 21px;
	width: 56px;
	text-align: center;
	padding: 0 0px;
	float: left;
	list-style-type: none;
	padding-right: 35px;
}
ul#c2 li a{
	height: 21px;
	width: 56px;
	font-size: 14px;
	display: block;
	line-height: 21px;
	color: rgb(160,160,160);
	text-decoration: none;
	transition-color 4s;
   	transition-property:color;
   	 transition-duration: 0.4s;
   	 transition-timing-function: ease;
   	 transition-delay: 0s;
}
ul#c2 li a:hover{
	color:#fff;
}
#c3{
	width: 600px;
	height: 26px;
	float: left;
	margin-left: 100px;
}
#c3 a{
	color: rgb(160,160,160);
    text-decoration: none;
    font-size: 12px;
    	transition-color 4s;
   	transition-property:color;
   	 transition-duration: 0.4s;
   	 transition-timing-function: ease;
   	 transition-delay: 0s;
   	 height: 21px;
}
#c3 a:hover{
	color:#fff;
}
#c4{
	width: 600px;
	height: 26px;
	float: left;
	margin-left: 100px;
	color: rgb(160,160,160);
    text-decoration: none;
    font-size: 12px;
}
#c5{
	width: 215px;
	height: 60px;
	float: right;
	position: relative;
	right: 65px;
}
#c5 .c6{
position: relative;
font-size: 16px;
top: 2px;
	color: rgb(160,160,160);
    text-decoration: none;
position: relative;
left: 50px;
}
/*qqlogo*/
#c5 .c6 img{
position: relative;
top: 5px;
}
#c5 .c7
{
	font-size: 12px;
	color: rgb(160,160,160);
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
#c5 .c6:hover{
	color: #fff;
}
/*按钮*/
#g1{
	height: 44px;
	width: 1120px;
	margin: 30px 85px;
	margin-bottom: 150px;
}
/*上一页*/
#g1-1{
width: 68px;
height: 32px;
float: left;
position: relative;
top: 5px;
left: 190px;
}
#g1-1 a{
	position: relative;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #a6a6a6;
text-decoration: none;
background-color: #fff;
border: 1px solid #e6e6e6;
display: inline-block;
letter-spacing: 0;
font-size: 14px;
cursor: pointer;
}
#g1-1 a:hover{
	background-color: rgb(233,233,233);
}
/*中间数字*/
#g1-2{
	height: 32px;
	width: 560px;
	float: left;
	position:relative;
	top: 5px;
	left: 190px;
	margin:0px 20px;
	/*border: 1px solid red;*/
}
/*内部数字组*/
/*一号*/
#g1-2-1{
width: 32px;
height: 32px;
float: left;
border: 1px solid #e6e6e6;
display: inline-block;
margin-right: 7px;
}
/*其余号数*/
#g1-2-1 a{
		position: relative;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
text-decoration: none;
background-color: #fff;
border: 1px solid #12a754;
display: inline-block;
letter-spacing: 0;
font-size: 14px;
cursor: pointer;
color: #fff;background-color: #12a754;
}
#g1-2-2{
	width: 32px;
height: 32px;
float: left;
display: inline-block;
margin: 0px 7px;
color: #a6a6a6;
}
#g1-2-2 a{
	position: relative;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #a6a6a6;
text-decoration: none;
background-color: #fff;
border: 1px solid #e6e6e6;
display: inline-block;
letter-spacing: 0;
font-size: 14px;
cursor: pointer;
}
#g1-2-2 a:hover{
	background-color: rgb(233,233,233);
}
/*下一页*/
#g1-3{
width: 68px;
height: 32px;
float: right;
position: relative;
top: 5px;
right: 205px;
}
#g1-3 a{
	position: relative;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #a6a6a6;
text-decoration: none;
background-color: #fff;
border: 1px solid #e6e6e6;
display: inline-block;
letter-spacing: 0;
font-size: 14px;
cursor: pointer;
}
#g1-3 a:hover{
	background-color: rgb(233,233,233);
}