@charset "utf-8";
/* CSS Document */

/*主体*/
#h-main{
	 width: 100%;
     height: 1180px;
     background-color: rgb(241,241,241);
}
/*上部框架*/
#t1{
	width: 1120px;
	height: 350px;
	background-color: #fff;
    position: relative;
    top: 125px;
	margin: 0px 85px;
}
/*图片*/
#t1-1{
height: 350px;
width: 620px;
float: left;
}

/*标题*/
#t1-2{
	width: 315px;
	height: 52px;
	max-width: 75%;
color: #404040;
font-size: 20px;
line-height: 1.3;
font-weight: 400;
margin-bottom: 5px;
max-height: 65px;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
margin-left: 660px;
margin-top: 40px;
}
/*小横条分割*/
#t1-3{
	color: #404040;
word-break: break-all;
margin-bottom: 10px;
line-height: 18px;
margin-left: 660px;
}

/*名字*/
#t2{

	color: #999;
font-size: 14px;
font-weight: 400;
margin-bottom: 10px;
margin-left: 660px;
margin-top: 10px;
}
#t2 a{text-decoration: none;
		color: #999;
font-size: 14px;
}
#t2 a:hover{
	text-decoration:underline ;
}
/*信息框架*/

#t3{
width: 420px;
height: 42px;
margin-left: 660px;
margin-top: 15px;

}

#t3-1{
	width: 120px;
	height: 42px;
	border: 1px solid #e6e6e6;
	font-size: 16px;
    color: #f60;
    text-align: center; 
    display: inline-block;
    margin-left: 10px;
}
#t3-1-1{
	margin-top: 15px;
}
#t3-1-2{
	float: left;
position: relative;
top: -45px;
left: 50%;
margin-left: -45px;
font-size: 15px;
color: #999;
width: 90px;
line-height: 18px;
background-color: #fff;
}
/*其他*/

#t4{
	width: 300px;
	height: 30px;
	color: #666;
	font-size: 14px;
	   margin-left: 675px;
	   margin-top: 10px;
}
/*不想努力了，写个空格*/
#t4-1{
	height: 30px;
	width: 25px;
	    display: inline-block;
}
#t5{
	width: 420px;
	height: 40px;
		   margin-left: 680px;
	   margin-top: 75px;
	  
       font-size: 12px;
	       color: #666;
}
#t5-1{

	height: 30px;
	width: 100px;
	float: left;
	margin-top: 10px;
}
#t5-1 a{   float: left;
		   font-size: 12px;
	       color: #666;
	       text-decoration: none;
}
/*图片*/
#t5-1-1{
	float: left;
}

#t5-1-2 a{   float: left;
		   font-size: 12px;
	       color: #ff6700;
	       text-decoration: none;
	       margin: 0px 2px;
	       /*加粗字体*/
	       font-weight:1000;
}
#t5-2{
	width: 150px;
	height: 40px;
	float: left;
	margin:0px 20px;
	
	display: inline-block;
    font-size: 12px;
    color: #666;
}
#t5-2-2{

	float: left;

    margin-top: 10px;
    font-size: 12px;
    color: #666;
}
#t5-2-1{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

#t6{
	height: 60px;
	width: 1120px;
	margin-top: 20px;
	margin-right: 85px;
	margin-left: 85px;
	border-bottom: 1px solid #e6e6e6;
	  position: relative;
    top: 125px;
    background-color: #fff;
}
/*课程介绍*/
#t6-1{
	float: left;
	height: 58px;
width: 75px;
margin-bottom: -1px;
position: relative;
border-bottom: 3px solid #12a754;
margin-left: 25px;
}
#t6-1 a{
	height: 60px;
line-height: 60px;
overflow: hidden;
box-sizing: border-box;
display: block;
text-align: center;
font-size: 18px;
text-decoration: none;
color: #12a754;

}
#t7{
	height: 620px;
	width: 1120px;
	margin-top: 0px;
	margin-right: 85px;
	margin-left: 85px;

	  position: relative;
    top: 125px;
    background-color: #fff;
}
/*小标题*/
#t8{
margin-bottom: 20px;
font-size: 16px;
font-weight: 400;
color: #404040;
margin-left: 30px;
margin-top: 0px;
}
/*内容*/
#t9{
	width: 1060px;
	margin-bottom: 60px;
color: #666;
font-size: 14px;
word-wrap: break-word;
position: relative;
margin-left: 30px;
margin-top: 15px;
}