@charset "utf-8";
/* CSS Document */
/*全局重置区域*/
*{
	margin: 0 ;
	padding: 0;
	border: 0;
	text-decoration: none;
	/*overflow: hidden; */
}
body{
	width: 100%;
}
 ul{
 	list-style: none;
 }
.big{
	width: 1288px;
	margin: 0 auto;
	/*height: 100%;*/
}
/*全局重置区域结束*/
/*输入搜索框*/
input{
        position: relative;
        top: 9px;
        width: 255px;
        border: 1px solid #e2e2e2;
        height: 30px;
        float: left;
        background-color: rgb(244,244,244);
        color: #9797a7;
        background-repeat: no-repeat;
        background-size: 10px;
        background-position:5px center;
        padding:0 0 0 10px;
        border-radius: 5px;
    }
    /*搜索框结束*/
    /*第一行的全局设定*/
#header{
	/*width: 1285px;*/
	height: 85px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	background-color: #fff; 
	top: 0px;	position: fixed;
    border-bottom: 1px solid rgb(210,214,216);
	z-index: 888;
}
/*顶部限定区域*/
#top{
	width: 1280px;
	height: 58px;
	text-align: center;
	position: absolute;
	top: 11px;
	left: 84px;
	float: left;

}
/*logo图片区*/
#top-logo{
	width: 127px;
	height: 54px;
	text-align: center;
	position: absolute;
	top: 4px;
	float: left;
	display: block;
}
#top-logo1{
	width:18px; 
	height:18px;
	position: relative;
	top: 3px;
	padding-right: 3px;
}
#top-logo-hot{
	width: 22px;
	height: 22px;
	position: absolute;
	top: 15px;
	left: 195px;
}
#top-logo4{
	float: left;
	position: relative;
	top: 15px;
}
/*logo图片区域结束*/

/*左边的框架*/
ul#nav-left{
	width: 390px;
	height: 58px;
	text-align: center;
	position: absolute;
	left: 174px;
	float: left;
	display: block;
}
ul#nav-left li{
	height: 58px;
	text-align: center;
	padding: 0 14px;
	float: left;
	list-style-type: none;
}
ul#nav-left li a{
	height: 58px;
	font-size: 16px;
	display: block;
	line-height: 58px;
	color: #9797a7;
	text-decoration: none;
	transition-color 4s;
   	transition-property:color;
   	 transition-duration: 0.4s;
   	 transition-timing-function: ease;
   	 transition-delay: 0s;
}
/*左边结束*/

/*右边的框架*/
ul#nav-right{
	width:655px;
	height: 50px;
	text-align: center;
	position: absolute;
	right:40px;
	float: left;
	display: block;
    top: 5px;
}
ul#nav-right li{
	height: 30px;
	text-align: center;
	padding-right: 14px;
	float: left;
	list-style-type: none;
}
ul#nav-right li a{
	font-size: 14px;
	display: block;
	color: #9797a7;
	text-decoration: none;
	transition-color 4s;
   	transition-property:color;
   	transition-duration: 0.4s;
   	transition-timing-function: ease;
   	transition-delay: 0s;
}
#yidong{
	height: 58px;
	text-align: center;
	padding: 0 14px;
	margin-left: 1px;
	float: left;
	list-style-type: none;
	position: relative;
	top: 16px;
	left:-14px;
}
/*右边框架结束*/



/*按钮*/
button{
	border: 1px solid rgb(11,153,255);
	width: 70px;
	height: 32px;
    position: relative;
    top: 11px;
    border-radius: 5px;
    margin-left: 10px;
}
/*登录按钮*/
#LoginBtu{
	border: 1px solid rgb(11,153,255);
	width: 70px;
	height: 32px;
    position: relative;
    top: 9px;
    border-radius: 3px;
    margin-left: -155px;
    background-color: #ffffff;
}
#LoginBtu a
{
	font-size: 14px;
	display: block;
	color: #0B99FF;
	text-decoration: none;
    text-align: center;
	padding: 2 2px;
	transition-color 4s;
   	transition-property:color;
   	 transition-duration: 0.4s;
   	 transition-timing-function: ease;
   	 transition-delay: 0s;
   	 	 position: relative;
   	 top: 1px;
}
/*注册按钮*/
#RegisterBtu{
	border: 1px solid rgb(11,153,255);
	width: 70px;
	height: 32px;
    float: right;
    display: block;
    position: absolute;
    top: 9px;
    right: 100px;
    background-color: rgb(11,153,255);
    border-radius: 3px;
    margin-left: 10px;
}
#RegisterBtu a
{
	font-size: 14px;
	display: block;
	color: #ffffff;
	text-decoration: none;
    text-align: center;
	padding: 2 2px;
	transition-color 4s;
   	transition-property:color;
   	 transition-duration: 0.4s;
   	 transition-timing-function: ease;
   	 transition-delay: 0s;
   	 position: relative;
   	 top: 1px;
}
/*右边结束*/

/*顶部动态特效区*/
#RegisterBtu:hover {
	background-color: rgb(49,169,255);
}
#LoginBtu:hover {
	background-color: rgb(240,250,255);
}
ul#nav-left li a:hover {
    color: #0B99FF;
}
 ul#nav-left li a:hover{
	color: #0B99FF;
}
/*#top-logo1:hover{
	background-image:img/top-logo0;}*/



/*/*最右侧导航悬浮区域*/
/*#daohang-right{
	width: 45px;
	height: 165px;
	position: fixed;
	right: 1px;
	top: 175px;
	border: 1px solid red;
}
第一个块
#daohang-right .d1{
	width: 45px;
	height: 45px;
    background: url(img/top/top-right1.png)no-repeat 0px 0px;
}
*/*/