.totop{
	position: fixed;
	right: 30px;
    bottom: 50px;
    width: 45px;
    height: 45px;
    background-image: url(../img/top/top-right1.png);
}
.totop:hover{
	width: 52px;
    height: 69px;
	background-image: url(../img/top/top-right-hj.png);
}
